.control-field {
	margin-bottom: 10px;
}

.test-button {
	width: 200px;
	height: 50px;
	margin-top: 10px;
	font-size: 18px;
}

.danger {
	background-color: rgb(180, 50, 50);
}

.test-button:hover{
	background-color: rgb(80, 120, 220);
}
